$def with (username, picture, description, email, my_messages, my_comments)


<div class="py-5" action="" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="row h-75">
        <div class="col-3">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">个人信息</a> </li>
            <li class="nav-item"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">管理留言</a> </li>
            <li class="nav-item"> <a href="" class="nav-link" data-toggle="pill" data-target="#tabthree">管理评论</a> </li>
          </ul>
        </div>
        <div class="col-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabone" role="tabpanel" style="">
              <form id="c_form-h" class="" action="" method="post"  enctype="multipart/form-data">

                <div class="form-group row"><label for="inputpictureh" class="col-2 col-form-label">头像</label>
                  <div class="col-10">
                  <img id="show_picture" src="$picture" alt="头像" />（尺寸不超过80x80，大小不超过10k）<br />
                  <br>                    
                  <input type="file" id="mypic" name="mypic" accept="image/*" ></div>
                </div>
                <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">E-mail</label>
                  <div class="col-10">
                    <input type="email" class="form-control" id="inputmailh" name="email" value="$email" disabled> </div>
                </div>
                <div class="form-group row"> <label for="inputpasswordh" class="col-2 col-form-label">Password</label>
                  <div class="col-10">
                    <input type="password" class="form-control" id="inputpasswordh" placeholder="Password"> </div>
                </div>
                <div class="form-group row"><label class="col-2">简介</label>
                  <div class="col-10"><textarea class="form-control" id="exampleTextarea" rows="3" name="description">$description</textarea></div>
                </div><button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <div class="py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card" >
                    <div class="card-header"> 我的留言 </div>
                    <div class="card-body">
                      $for m in my_messages:
                      <div class="list-group">
                        <div class="d-flex w-100 justify-content-between">
                          <small>$m['message_time']</small>
                        </div>
                        <p class="mb-1">$m['content']</p>
                        <div class="row">
                          <div class="col-md-12"><a class="btn btn-primary" href="/del_m/$m['id']" id="new_post">删除</a></div>
                        </div>
                      

                    </div>
                    </div>
                    </div>
                  </div>
                </div>
                </div>
              </div> 
            </div>



            <div class="tab-pane fade" id="tabthree" role="tabpanel">
              <div class="py-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card" >
                    <div class="card-header"> 我的评论 </div>
                    <div class="card-body">
                      $for c in my_comments:
                      <div class="list-group">
                        <div class="d-flex w-100 justify-content-between">
                          <small>于$c['comment_time'] 评论 $c['foodname']</small>
                        </div>

                        <p class="mb-1">$c['content']</p>
                        <div class="row">
                          <div class="col-md-12"><a class="btn btn-primary" href="/del_c/$c['id']" id="new_post">删除</a></div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              </div> 
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>