$def with (food, comment_lis)

<div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">$food['name']</h5>
              <p class="card-text">$food['description']</p>
              <p class="card-text"><small class="text-muted">发布于 $food['time']</small></p>
            </div>
            <img class="card-img-bottom" src="$food['picture']" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="py-5">
    <div class="container">
    	<div class="row">
        <div class="col-md-12">
          <h1 class="display-5" >评论</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          $for c in comment_lis:
          <div class="list-group">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">$c['username']</h5> <small>$c['time']</small>
              </div>
              <p class="mb-1">$c['content']</p>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <div class="py-5">
    <div class="container">
    	<div class="row">
        <div class="col-md-12">
        	<h2>我的评论</h2>
		  	<form id="new_comment" action="" method="post">
		    <textarea id="last" rows="10" cols="90" name="mycomment"></textarea><span class="validate_tip"></span><br />
		    <input type="submit" id="submit_btn" value="回帖" />    
			</form>
		</div>
		</div>
	</div>
  </div>