$def with ()


  <div class="py-5 text-center" style="background-image: url('/static/img/yello.jpeg'); background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6">
          <h1>舌尖上的南航</h1>
          <p class="mb-4">没有最好，只有更好</p>
          <form class="form-inline d-flex justify-content-center" action="" method="post">
            <div class="input-group"> <input type="text" class="form-control" placeholder="查找菜品" id="form1" name="name">
              <div class="input-group-append"> <button class="btn btn-primary" type="submit">搜索</button> </div>
            </div>
          </form>   
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">南航大食堂</h1>
          <p>建立一个尽量全方位、多层次的南航食堂评价系统，用于展示食堂风采、反映食堂问题、整合食堂信息，帮助学生选择适合自己口味的菜品，以及食堂管理人员更好地规划调整。&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">探索我们的食堂</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 p-4"><a href="/HYcanteen"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Card image cap"></a>
          <h4> <b>慧园运动餐厅</b> </h4>
          <p class="mb-0"> <i>"I throw myself down among the tall grass by the trickling"</i> </p>
        </div>
        <div class="col-lg-3 col-6 p-4"><a href="/QZcanteen"><img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap" ></a>
          <h4> <b>馨园民族餐厅</b> </h4>
          <p class="mb-0"> <i>"As I lie close to the earth, a thousand unknown plants"</i> </p>
        </div>
        <div class="col-lg-3 col-6 p-4"><a href="/XYcanteen"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-3.svg" width="100"></a>
          <h4> <b>馨园书香餐厅</b> </h4>
          <p class="mb-0"> <i>"Then, my friend, when darkness overspreads my eyes"</i> </p>
        </div>
        <div class="col-lg-3 col-6 p-4"><a href="/HKcanteen"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-4.svg" width="100"></a>
          <h4> <b>航空餐厅</b> </h4>
          <p class="mb-0"> <i>"Heaven and earth seem to dwell in my soul"</i> </p>
        </div>
      </div>
    </div>
  </div>
  