$def with ()

<header class="masthead" style="background-image: url('static/img/portfolio-4.jpg')">
    <div class="overlay"></div>
    <div class="container">
    <div class="row">
       
      <div class="col-md-4 mx-auto">
        <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
        <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
        <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
        <form id="login" action="" method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>用户名</label>
              <input type="text" class="form-control" placeholder="用户名" id="username" required data-validation-required-message="请输入你的用户名">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>密码</label>
              <input type="password" class="form-control" placeholder="password" id="password" required data-validation-required-message="请输入你的密码">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="login_btn">登录</button>
          </div>
        </form>
      </div>

      <div class="col-md-4"></div> 
      
    </div>
    </div>
    </div>
</header>








