$def with ()

<!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/xia.jpeg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>舌尖上的南航</h1>
            <span class="subheading">没有最好，只有更好</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="container">

<div class="content-section-heading text-center">
        <h2 class="text-secondary mb-0">探索</h2>
        <h2 class="mb-5">我们的食堂</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="/HYcanteen">
            <span class="caption">
              <span class="caption-content">
                <h2>慧园运动餐厅</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/QZcanteen">
            <span class="caption">
              <span class="caption-content">
                <h2>馨园民族餐厅</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/XYcanteen">
            <span class="caption">
              <span class="caption-content">
                <h2>馨园书香餐厅</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/HKcanteen">
            <span class="caption">
              <span class="caption-content">
                <h2>航空餐厅</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="static/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>

</div>